*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

/* main box */
.container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fof2f5;
}

/* left heading side */
.left-box{
    width: 40%;
}

h1{
    color: #1877f2;
    font-size: 80px;
}

h3{
    color: #1c1e21;
    font-size: 30px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

/* right side */
.right-box{
    margin-top: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* input box */
.login-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 450px;
    height: 380px;
    box-shadow: -10px -10px 15px 15px rgba(0, 0, 0, 0.1), 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #1877f2;
    color: white;
}
p{
    color: #1877f2;
    text-decoration: none;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

/* button */
.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;

}

span{
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 20px;
}